html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    background-color: #303030;
    color: #fff;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
}

.cdk-overlay-container {
    z-index: 0 !important;
}